.topbar{
  background-color: black;
  padding: 20px;
  border: none;
  margin: 0;
}

.container{
  display: flex;
  justify-content: space-between; /* 讓 LOGO 保持在正中央 */
  align-items: center;
  /* position: relative; */

  margin: 0;
  color: white;
}

.titleLeft, .titleRight{
  flex: 1; /* 讓三個區塊等寬 */
  display: flex;
  justify-content: center; /* 內部內容置中 */
  align-items: center;
}

.titleLeft, .titleRight{
  font-size: 30px;
  font-weight: bold;
}

.logo img{
  width: 60px;
  height: auto;
}

