.topbar{
  background-color: black;
  padding: 20px;
  border: none;
  margin: 0;
}

.titlecontainer{
  display: flex;
  justify-content: space-between; /* 讓 LOGO 保持在正中央 */
  align-items: center;
  /* position: relative; */

  margin: 0;
  color: white;
}

.titleLeft, .titleRight{
  flex: 1; /* 讓三個區塊等寬 */
  display: flex;
  justify-content: center; /* 內部內容置中 */
  align-items: center;
}

.titleLeft, .titleRight{
  font-size: 30px;
  font-weight: bold;
}

.logo img{
  width: 60px;
  height: auto;
}

.container {
  display: flex;
  flex-direction: row; /* 讓左右區塊水平排列 */
  width: 100%;
}

.left {
  flex: 1; /* 讓左右區塊各佔 50% */
  max-width: 50%;
  padding: 0;
}

.right {
  flex: 1;
  max-width: 50%;
  padding: 0;
}